body {

    background: #f8f9fa;
}

.card {

    border-radius: 15px;
    margin-bottom: 20px;
}

.table img {

    width: 120px;
    border-radius: 8px;
}

.status {

    font-weight: bold;
}

.log-box {

    height: 250px;
    overflow-y: auto;
    background: #212529;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-family: monospace;
}

.search-button-container {

    display: flex;
    align-items: end;
}